<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lesson</title>
<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

<div id="app">
	<counter title="Likes"></counter>
	<counter title= "Dislikes"></counter>
</div>

<template id="counter-template">
	<h1>{{ title }}</h1>
	<button @click= "count += 1">{{ count }}</button>
</template>

<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>

<script> 
     Vue.component('counter', {
     	template: '#counter-template',

     	props: ['title'],

     	data: function(){
     		return { count: 0 };
     	}
     })
 
 new Vue({
 	el: '#app',

 	//data:{
 		//count: 0
 	//},

 	

 });

</script>

</body>
</html>