<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lesson</title>
<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

<div id="app">

		<button type="submit" @click="updateCount">
			Increment Counter: {{ count }}
		</button>
	</form>

</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>

<script> 
 new Vue({
 	el: '#app',

 	data:{
 		count: 0
 	},

 	methods: {
 		updateCount: function(){
 			this.count += 1;
 		}
 	}

 });

</script>

</body>
</html>