<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson</title>
<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

	<h1>Skill: {{ skill }}</h1>
	<input type= "text" v-model="points">

	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>

	<script>
		new Vue({
			el: 'body',

			data: {
				points: 50,
			},

			computed: {
				skill: function(){
					if (this.points <= 100){
						return 'Beginner';
					}
					return 'Advanced';
				}
			}
		});

</script>

</body>
</html>