<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
</head>
<body>

	<div id="app">
		<h1>{{ message }}</h1>

		<input v-model="message">

		<pre>
			{{ $data | json }}
		</pre>
	</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>

<script>
var data = {
	message: 'Hello World'
}
new Vue({
	el: '#app',
	data: data
});
</script>

</body>
</html>

