<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson</title>
<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

	<h1>{{ fullName }}</h1>
	<input type= "text" v-model="first" placeholder= "First Name">
    <input type= "text" v-model="last" placeholder= "Last Name">

	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>

	<script>
		new Vue({
			el: 'body',

			data: {
				first: 'Jeffrey',
				last: 'Way'
			},

			computed: {
				fullName: function(){
					return this.first + ' ' + this.last;
				}

			}
		});

</script>

</body>
</html>