<!DOCTYPE html>
<html lang= 'en'>
<head>
	<meta charset="UTF-8">
	<title>Lesson</title>
	<style>
	.completed { text-decoration: line-through; }
	</style>
</head>

<body>

	<div id="app">
		<tasks :list="tasks"></tasks>

		<tasks :list="[{body: 'do this', completed: false}]"></tasks>	
	</div>

	<template id="tasks-template">
		<ul>
			<li :class="{ 'completed': task.completed }" 
			v-for="task in list" 
			@click="task.completed = ! task.completed">
			{{ task.body }}
		</li>
		</ul>
	</template>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
	<script src="main2.js"></script>

</body>
</html>
