<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
	
	<div id="app">
		<pre>
			{{ $data | json }}
		</pre>
		<div v-for="plan in plans">
			<plan :plan="plan" :active.sync="active"></plan>
		</div>
	</div>

	<template id="plan-template">
		<div>
			<span class= "Plan_name">
				{{ plan.name }}
			</span>
			
			<span class= "Plan_price">
				{{ plan.price }}/month
			</span>

			<button @click="setActivePlan" v-show="plan.name !== active.name">
				{{ isUpgrade ? 'Upgrade' : 'Downgrade' }}
			</button>

			<span v-else>
				Selected
			</span>
		</div>
	</template>	
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>

	<script>
	new Vue({
		el: '#app',
		
		data: {
			plans: [
			{ name: 'Enterprise', price: 100},
			{ name: 'Pro', price: 50},
			{ name: 'Personal', price: 10},
			{ name: 'Free', price: 0}
		    ],
			active: {}
		},

		components: {
			plan: {
				template: '#plan-template',

				props: ['plan', 'active'],

				computed: {
					isUpgrade: function(){
						return this.plan.price > this.active.price;
					}
				},

				methods: {
					setActivePlan: function(){
						this.active = this.plan;
					}
				}
			}
		}
	})

	</script>

</body>
</html>